
</body>
</html>
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
    <!-- Footer -->
    <footer class="text-center text-white" style="background: none;">
        <!-- Grid container -->
        <div class="container">
            <hr class="my-5" />
            
            <!-- Section: Text -->
            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <p>
                            Made with love from TritonHacks 2023, <br><a href="https://julianagar.github.io">Julian Garcia</a>, Jayden Bui, Theo Dela Cruz, and Laksita Nandakumar

                        </p>
                    </div>
                </div>
            </section>
            <!-- Section: Text -->
            
            <!-- Section: Social -->
            <!-- Section: Social -->
        </div>
        <!-- Grid container -->
        
        <!-- Copyright -->
        <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
        >
        © 2029 Copyright:
        <a class="text-white" ="https://images.unsplash.com/photo-1533460004989-cef01064af7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3Jhc3N8ZW58MHx8MHx8fDA%3D&w=1000&q=80"
        >GalaxyGalleons.com</a
        >
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</div>
<!-- End of .container -->
