<link rel="stylesheet" href="styles.css">
</head>
<%- include('../partials/header.ejs') %>
<h1>Hello, Elon Musk</h1>
<p>Space tourism is the term used to describe space travel for recreational or leisure purposes. What was once only a dream – described in books such as Arthur C. Clarke’s 2001: A Space Odyssey – is now becoming a reality. Space tourism offers everyone the opportunity to travel to space, and to experience a space flight. Already, a number of people have made the journey to space, and more will follow in the near future.</p>

<hr>

<div class="lessons row">
    
    <div class="card lesson col-md-4" style="width: 18rem;">
        <img src="https://www.worldatlas.com/upload/bb/c3/32/shutterstock-1041249343.jpg" class="lesson-preview card-img-top" alt="Photo of a space galaxy">
        <div class="card-body">
            <h5 class="card-title">Lesson 1: Intro to Mars</h5>
            <p class="card-text">Enter this lesson to learn more about Mars, a planet similar to Earth that many people are now living on.</p>
            <a href="/lesson1" class="btn btn-primary">Enter →</a>
            
        </div>
    </div>
    
    <div class="card lesson col-md-4" style="width: 18rem;">
        <img src="https://i.guim.co.uk/img/media/426b87fffb556dfe713da2a8da27806f1c222f72/0_187_4000_2400/master/4000.jpg?width=620&quality=85&auto=format&fit=max&s=6df0264cd12a17bd456090df5fbe3098" class="lesson-preview card-img-top" alt="Photo of a space galaxy">
        <div class="card-body">
            <h5 class="card-title">Lesson 2: Preparation before traveling</h5>
            <p class="card-text">Enter this lesson to learn what items are or aren't necessary to bring for travel.</p>
            <a href="/lesson2" class="btn btn-primary">Enter →</a>
        </div>
    </div>
    
    <div class="card lesson col-md-4" style="width: 18rem;">
        <img src="https://scx2.b-cdn.net/gfx/news/2021/nasa-study-highlights.jpg" class="lesson-preview card-img-top" alt="Photo of a space galaxy">
        <div class="card-body">
            <h5 class="card-title">Lesson 3: Self Sustainability</h5>
            <p class="card-text">Enter this lesson to learn how humans are able to survive for extended periods of time on Mars. </p>
            <a href="/lesson3" class="btn btn-primary">Enter →</a>
        </div>
    </div>
    
    <div class="card lesson col-md-4" style="width: 18rem;">
        <img src="https://media.istockphoto.com/id/1035676256/photo/background-of-galaxy-and-stars.jpg?s=612x612&w=0&k=20&c=dh7eWJ6ovqnQZ9QwQQlq2wxqmAR7mgRlQTgaIylgBwc=" class="lesson-preview card-img-top" alt="Photo of a space galaxy">
        <div class="card-body">
            <h5 class="card-title">Lesson 4: Environmental Concerns</h5>
            <p class="card-text">Enter this lesson to learn how you can stay entertained while keeping the Martian environment clean.</p>
            <a href="/lesson4" class="btn btn-primary">Enter →</a>
        </div>
    </div>
    
    <div class="card lesson col-md-4" style="width: 18rem;">
        <img src="https://www.wired.com/images_blogs/wiredscience/2011/07/sss.jpg" class="lesson-preview card-img-top" alt="Photo of a space galaxy">
        <div class="card-body">
            <h5 class="card-title">Final Assessment</h5>
            <p class="card-text">Test your new knowledge with this final assessment.</p>
            <a href="/lesson5" class="btn btn-primary">Enter →</a>
        </div>
    </div>
    
    <hr>
    <h1>Other tools</h1>
    <p>Here are some other tools that you can use to help you prepare for your trip beyond Earth.</p>
    
    <div class="lessons row">
        <div class="card lesson col-md-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Dictionary </h5>
                <p class="card-text">Review some vocabulary that may be used on your trip.</p>
                <a href="/dictionary" class="card-link">Check it out</a>
            </div>
        </div>
        <div class="card lesson col-md-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Planets </h5>
                <p class="card-text">Check out some of the various planets you may visit. </p>
                <a href="/Mercury" class="card-link">Mercury</a>
                <a href="/Venus" class="card-link">Venus</a>
                <a href="/Earth" class="card-link">Earth</a>
                <a href="/Mars" class="card-link">Mars</a>
                <a href="/Jupiter" class="card-link">Jupiter</a>
                <a href="/Saturn" class="card-link">Saturn</a>
                <a href="/Uranus" class="card-link">Uranus</a>
                <a href="/Neptune" class="card-link">Neptune</a>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
