<%- include('../partials/header.ejs') %>
<h1>Hello, Elon Musk</h1>
<p>Space tourism is the term used to describe space travel for recreational or leisure purposes. What was once only a dream – described in books such as Arthur C. Clarke’s 2001: A Space Odyssey – is now becoming a reality. Space tourism offers everyone the opportunity to travel to space, and to experience a space flight. Already, a number of people have made the journey to space, and more will follow in the near future.</p>

<hr>

<div class="lessons">
        
        <div class="card lesson" style="width: 18rem;">
            <img src="https://www.worldatlas.com/upload/bb/c3/32/shutterstock-1041249343.jpg" class="lesson-preview card-img-top" alt="Photo of a space galaxy">
            <div class="card-body">
                <h5 class="card-title">Lesson 1: Intro to Mars</h5>
                <p class="card-text">Enter this lesson to learn more about Mars, a planet similar to Earth that many people are now living on.</p>
                
            </div>
        </div>
        
        <div class="card lesson" style="width: 18rem;">
            <img src="https://www.worldatlas.com/upload/bb/c3/32/shutterstock-1041249343.jpg" class="lesson-preview card-img-top" alt="Photo of a space galaxy">
            <div class="card-body">
                <h5 class="card-title">Lesson 2: Preparation before traveling</h5>
                <p class="card-text">Enter this lesson to learn what items are or aren't necessary to bring for travel.</p>
                <a href="#" class="btn btn-primary">Enter →</a>
            </div>
        </div>
        
        <div class="card lesson" style="width: 18rem;">
            <img src="https://www.worldatlas.com/upload/bb/c3/32/shutterstock-1041249343.jpg" class="lesson-preview card-img-top" alt="Photo of a space galaxy">
            <div class="card-body">
                <h5 class="card-title">Lesson 3: Self Sustainability</h5>
                <p class="card-text">Enter this lesson to learn how humans are able to survive for extended periods of time on Mars. </p>
                <a href="#" class="btn btn-primary">Enter →</a>
            </div>
        </div>
        
        <div class="card lesson" style="width: 18rem;">
            <img src="https://www.worldatlas.com/upload/bb/c3/32/shutterstock-1041249343.jpg" class="lesson-preview card-img-top" alt="Photo of a space galaxy">
            <div class="card-body">
                <h5 class="card-title">Lesson 4: Entertainment and Environmental Concerns</h5>
                <p class="card-text">Enter this lesson to learn how you can stay entertained while keeping the Martian environment clean.</p>
                <a href="#" class="btn btn-primary">Enter →</a>
            </div>
        </div>
        
        <div class="card lesson" style="width: 18rem;">
            <img src="https://www.worldatlas.com/upload/bb/c3/32/shutterstock-1041249343.jpg" class="lesson-preview card-img-top" alt="Photo of a space galaxy">
            <div class="card-body">
                <h5 class="card-title">Final Assessment</h5>
                <p class="card-text">Test your new knowledge with this final assessment.</p>
                <a href="#" class="btn btn-primary">Enter →</a>
            </div>
        </div>
        
       
</div>
<%- include('../partials/footer.ejs') %>
