<%- include('../partials/header.ejs') %>
<h1>Lesson 1</h1>
<p>Take this exam before you continue to the rest of the course in order to see what you already know about space!</p>

<%- include('../partials/footer.ejs') %>
