body {
    background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );
    background-attachment: fixed; 
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: "Space Grotesk", sans-serif;
}

p, span {
    font-family: "Instrument Sans", sans-serif;
}


.fact {
    font-size: 20px;
}

.nondisplay-fact {
    display: none;
}

.nondisplay-question {
    display: none
}

.correct {
    color: green;
    margin: 10px;
}

.incorrect {
    color: red;
    margin: 10px;
}

.hide {
    display: none;
}

.nondisplay-finish {
    display: none;
}
