.navbar {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: "Space Grotesk", sans-serif;
}

p, span {
    font-family: "Instrument Sans", sans-serif;
}

body { 
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    background-attachment: fixed; 
    
}

.login {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.sr-only {
    margin: 10px;
}

.lessons {
    
}


.lesson {
    display: inline-block;
    margin: 10px;
}

.lesson-preview {
    height: 60%;
}

.fact {
    font-size: 20px;
}

.nondisplay-fact {
    display: none;
}

.nondisplay-question {
    display: none
}

.correct {
    color: green;
    margin: 10px;
}

.incorrect {
    color: red;
}

.hide {
    display: none;
}

.nondisplay-finish {
    display: none;
}

.main {
    overflow: hidden;
}

.dictionary {
    display: inline-block;
    width: 60%;
    margin: 10px;
    float:left;
}

.search {
    display: inline-block;
    width: 30%;
    margin: 10px;
    overflow: hidden;
}

.planet-info {
    display: inline-block;
    width: 60%;
    margin: 10px;
    float:left;
}

.planet-img {
    display: inline-block;
    width: 20%;
    margin: 10px;
    margin: auto auto;
}

.answers {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: white;
    text-decoration: underline;
    cursor: pointer;
    
}

.question {
    font-size: 20px;
}

#return-btn {
    display: none;
}