body {
    background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );
    background-attachment: fixed; 
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: "Space Grotesk", sans-serif;
}

p, span {
    font-family: "Instrument Sans", sans-serif;
}


.fact {
    font-size: 20px;
}

.nondisplay-fact {
    display: none;
}

.nondisplay-question {
    display: none
}

.correct {
    color: green;
    margin: 10px;
}

.incorrect {
    color: red;
    margin: 10px;
}

.hide {
    display: none;
}

.nondisplay-finish {
    display: none;
}

.lesson {
    display: inline-block;
    margin: 10px;
}

.lesson-preview {
    height: 60%;
}

.answers {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

#next-btn {
    display: block;
    margin: 30px;
}

#return-btn {
    display: none;
    margin: 30px;
}

.dictionary {
    display: inline-block;
    width: 60%;
    margin: 10px;
    float:left;
}

.search {
    display: inline-block;
    width: 30%;
    margin: 10px;
    overflow: hidden;
    text-align: center;
}

.search button {
    margin: 20px;
}

.search a {
    margin: 20px;
}

.form-control {
    margin-bottom: 20px;
}
.planet-info {
    display: inline-block;
    width: 60%;
    margin: 10px;
    float:left;
}

.planet-img {
    display: inline-block;
    width: 20%;
    margin: 10px;
    margin: auto auto;
}

.question {
    font-size: 20px;
}